
body {
    background-image: url('../imagenes/pikachu.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}
.titulo-principal {
    font-family: 'Press Start 2P', cursive; /* Fuente estilo videojuego */
    font-size: 40px;  
    color: rgb(201, 49, 49);  
    text-shadow: 4px 4px 5px black;  
}

.subtitulo {
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    font-size: 24px;  
    color: rgb(83, 25, 25);  
    font-style: italic;
	text-shadow: 4px 4px 5px black;  
}